n8n-job-sql-gemini-node.json
{
    "name": "SQL + Gemini (Official Node) — Minimal",
    "nodes": [
        {
            "parameters": {},
            "id": "manual-trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -600,
                200
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT 'Software Engineer' AS title, 'Acme Corp' AS company\nUNION ALL\nSELECT 'Data Analyst' AS title, 'Beta Inc' AS company\nUNION ALL\nSELECT 'QA Engineer' AS title, 'QualityWorks' AS company;"
            },
            "id": "sql-sample",
            "name": "SQL: Sample Jobs",
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 2,
            "position": [
                -360,
                200
            ],
            "credentials": {
                "mySql": {
                    "id": "",
                    "name": "MySQL account"
                }
            },
            "notesInFlow": true,
            "notes": "Uses UNION SELECT only (no tables). Ensure the node is mapped to your \"MySQL account\" credential."
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "to-json-array",
                            "name": "jobsJson",
                            "value": "={{ JSON.stringify($items(\"SQL: Sample Jobs\").map(i => i.json)) }}",
                            "type": "string"
                        },
                        {
                            "id": "prompt-text",
                            "name": "prompt",
                            "value": "From the following JSON array of jobs, return ONLY those with title containing the word \\\"Engineer\\\" (case-insensitive). Respond with STRICT JSON array of objects {title, company} only, no extra text.\\n\\nJobs: ={{ $json.jobsJson }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "build-prompt",
            "name": "Build Prompt",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                -120,
                200
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.0-flash",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.0-flash"
                },
                "messages": {
                    "values": [
                        {
                            "content": "You are a helpful assistant that outputs ONLY valid JSON for data tasks.",
                            "role": "model"
                        },
                        {
                            "content": "={{ $json.prompt }}"
                        }
                    ]
                },
                "options": {
                    "maxOutputTokens": 200,
                    "temperature": 0.2
                }
            },
            "id": "gemini-node",
            "name": "Google Gemini",
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                120,
                200
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "function safeParse(text) {\n  try { return JSON.parse(text); } catch {\n    // Try to extract JSON fenced code if present\n    const m = text.match(/```json[\\s\\S]*?```/i) || text.match(/\\[[\\s\\S]*\\]/);\n    if (!m) return [];\n    try { return JSON.parse(m[0].replace(/```json|```/gi, '')); } catch { return []; }\n  }\n}\nconst text = $json?.content?.parts?.[0]?.text ?? '';\nconst arr = safeParse(text);\nif (!Array.isArray(arr)) return [];\nreturn arr.map(r => ({ json: { jobTitle: r.title, company: r.company } }));"
            },
            "id": "parse-json",
            "name": "Parse Gemini JSON",
            "type": "n8n-nodes-base.function",
            "typeVersion": 2,
            "position": [
                360,
                200
            ]
        },
        {
            "parameters": {
                "keepOnlySet": true,
                "values": {
                    "string": [
                        {
                            "name": "jobTitle",
                            "value": "={{$json[\"jobTitle\"]}}"
                        },
                        {
                            "name": "company",
                            "value": "={{$json[\"company\"]}}"
                        }
                    ]
                }
            },
            "id": "set-output",
            "name": "Set Output",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                600,
                200
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "SQL: Sample Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SQL: Sample Jobs": {
            "main": [
                [
                    {
                        "node": "Build Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Prompt": {
            "main": [
                [
                    {
                        "node": "Google Gemini",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini": {
            "main": [
                [
                    {
                        "node": "Parse Gemini JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Gemini JSON": {
            "main": [
                [
                    {
                        "node": "Set Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "version": 1,
    "meta": {
        "templateCredsSetupCompleted": false
    },
    "id": "n8n-job-sql-gemini-node"
}